spring:
    application:
        name: potato-mall
    datasource:
        driver-class-name: org.mariadb.jdbc.Driver
        url: ENC(IX2K1DrI0zuHAXcbl2+p2noyvWL0yvEqebr2KDadmv9WDBxgDKu4H6e2O4SJqSuEiW+Jlw6bHQOiw/7S9SzSkWVJwEwU/+ev881BRVWTECR2OxJ5UrmUjzym9zhUr+cp)
        username: ENC(8MbDWgxEMu5l//DlOOFgyA==)
        password: ENC(JH36foeMmGWJH1BfjYCeuyrWHnYm2+7W)
    jpa:
        hibernate:
            ddl-auto: update
server:
    forward-headers-strategy: native
    port: 8080
    docs-port: 8081
jwt:
    secret: ENC(W4sPi0KgaSIlFAzkqQflG0XYEttZoBq/wrLiDRpav87rDCreIHiOsDO4q4sM+pu3/aI8GNSsOWaS4MsLuvuLVYruj7z88IWC6ej8WWL0r4QNLDd5TnJVxC+ASLbpnnKTjixNDQiQuNBx1cA7xHyBG9QK99xW+uSm93YODtxlPjNX/C7E36SClH/pHoC4Om4C)
    access-token-expiration: 1800 # 30일
    refresh-token-expiration: 604800 # 7일
